* {
  font-family: 'Inconsolata', monospace;
}
.container {
  margin-top: 10px;
  
}
.editbox {
  margin-top: 5%;
}
.preBtn{
  display: block;
  margin: auto;
  padding: 7px;
  margin-top: 5%;
  border-radius: 2px;
}

#previewContainer .h22 {
  text-align: center;
  color: green;
  border-bottom: 3px solid green;
}

.custom-textarea {
    width: 100%;
}

@media (min-width: 768px) {
    .custom-textarea {
        width: 100%;
    }
}

.copyBtn {
  padding: 10px;
  border-radius: 2px;
}